<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="generic/fragments.html :: headerfiles"></th:block>
</head>
<body>
<th:block th:insert="generic/fragments.html :: userNavbar"></th:block>
<form style="margin: 20px" method="get">
    <div class="form-check">
        <th:block th:if="${signedOnly}">
            <input type="checkbox" class="form-check-input" name="signedOnly" checked>
        </th:block>
        <th:block th:if="${!signedOnly}">
            <input type="checkbox" class="form-check-input" name="signedOnly">
        </th:block>

        <label class="form-check-label">Показать только подписанные</label>
    </div>
    <button type="submit" class="btn btn-primary">Применить</button>
</form>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Срок</th>
        <th scope="col">Статус одобрения</th>
        <th scope="col">Статус подписи</th>
        <th scope="col">Просмотр</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="agreement : ${agreements}">
        <tr>
            <th scope="row" th:text="${agreement.id}"></th>
            <td th:text="${agreement.days} + 'дн.'"></td>
            <td>
                <th:block th:if="${agreement.isApproved}">
                    <div class="alert alert-success" role="alert">
                        Одобрено
                    </div>
                </th:block>
                <th:block th:if="${!agreement.isApproved}">
                    <div class="alert alert-danger" role="alert">
                        Не одобрено
                    </div>
                </th:block>

            </td>
            <td>
                <th:block th:if="${agreement.isApproved}">
                    <th:block th:if="${agreement.isSigned}">
                        <div class="alert alert-primary" role="alert">
                            Подписан
                        </div>
                    </th:block>
                    <th:block th:if="${!agreement.isSigned}">
                        <div class="alert alert-secondary" role="alert">
                            Не подписан
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${!agreement.isApproved}">
                    <div class="alert alert-secondary" role="alert">
                        Не одобрено
                    </div>
                </th:block>

            </td>
            <td>
                <a th:href="@{/agreement/{id}(id = ${agreement.id})}">
                    <button type="button" class="btn btn-link">Просмотр</button>
                </a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>